GIMP/*
Thunar/*
nordvpn/*
obsidian/*
discord/*
Code/*
Code\ -\ OSS/*
dconf/*
chromium/*
gh/*
github-copilot/*
zoom.conf
zoomus.conf
nushell/history.txt
ghc
go/telemetry/local
zsh/env.sh
aichat/config.yaml
systemd/*
pavucontrol.ini
tmux/plugins/tmux-fingers/
ibus/
fcitx5/
fcitx/
